.manage-doctor-container {
  padding: 5px;
  .manage-doctor-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 15px 0;
    font-size: 30px;
  }
  .save-content-doctor {
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    padding: 5px;
    background: orange;
    border: none;
    border-radius: 3px;
    &:hover {
      opacity: 0.9;
    }
  }
  .more-info {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    .content-left {
      width: 40%;
    }
    .content-right {
      width: 60%;
    }
  }
}
